<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title>Tabs Example</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/ionic/css/custom.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
      <!-- google maps javascript -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true"></script>
  </head>

  <ion-side-menus>
      <!-- Center content -->
      <ion-side-menu-content ng-controller="ContentController">
  <body>
    
    <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    </ion-nav-bar>
             
    <ion-nav-view animation="slide-left-right"></ion-nav-view>


    <script id="tabs.html" type="text/ng-template">
      <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Home" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="About" icon="ion-ios7-information" href="#/tab/about">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Nearby" icon="ion-ios7-location" href="#/tab/contact">
          <ion-nav-view name="contact-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </script>

    <script id="home.html" type="text/ng-template">
      <ion-view title="Home">
          <div class="bar bar-subheader">
              <button menu-toggle="left" class="button button-icon icon ion-gear-b"></button>
          </div>

        <ion-content class="padding inline">
           <div class="main-wrap">
          <p>Welcome to the compare app, get started by selecting an option below :)</p>
          <p>
            <a class="button custom_button icon icon-right ion-chevron-right" href="#/tab/facts">My Lists</a>
          </p>
          <p>
            <a class="button custom_button icon icon-right ion-chevron-right" href="#/tab/comp">Compare</a>
          </p>
           </div>
            <hr />
            <div class="list list-inset comp-search">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Start Comparing">
                </label>
            </div>

        </ion-content>
      </ion-view>
    </script>

    <script id="facts.html" type="text/ng-template">
        <ion-view title="Facts" class="padding">
            <ion-content>
                <p>Banging your head against a wall uses 150 calories an hour.</p>
                <p>Dogs have four toes on their hind feet, and five on their front feet.</p>
                <p>The ant can lift 50 times its own weight, can pull 30 times its own weight and always falls over on its right side when intoxicated.</p>
                <p>A cockroach will live nine days without it's head, before it starves to death.</p>
                <p>Polar bears are left handed.</p>
                <p>
                    <a class="button icon ion-home" href="#/tab/home"> Home</a>
                    <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">More Facts</a>
                </p>
            </ion-content>
        </ion-view>
    </script>

    <script id="comp.html" type="text/ng-template">
        <ion-view title="Facts" class="padding">
            <ion-header-bar class="bar-positive">
                <h1 class="title">Canadian Music</h1>
            </ion-header-bar>

            <ion-content>

                <div ng-controller="MyCtrl" class="list">

                    <a ng-repeat="item in items"
                       href="#/{{item.id}}"
                       class="item item-thumbnail-left">

                        <img ng-src="{{ item.image }}">
                        <h2>{{ item.album }}</h2>
                        <h4>{{ item.artist }}</h4>
                    </a>

                </div>

            </ion-content>
        </ion-view>
    </script>

    <script id="facts2.html" type="text/ng-template">
      <ion-view title="Also Factual">
        <ion-content class="padding">
          <p>111,111,111 x 111,111,111 = 12,345,678,987,654,321</p>
          <p>1 in every 4 Americans has appeared on T.V.</p>
          <p>11% of the world is left-handed.</p>
          <p>1 in 8 Americans has worked at a McDonalds restaurant.</p>
          <p>$283,200 is the absolute highest amount of money you can win on Jeopardy.</p>
          <p>101 Dalmatians, Peter Pan, Lady and the Tramp, and Mulan are the only Disney cartoons where both parents are present and don't die throughout the movie.</p>
          <p>
            <a class="button icon ion-home" href="#/tab/home"> Home</a>
            <a class="button icon ion-chevron-left" href="#/tab/facts"> Scientific Facts</a>
          </p>
        </ion-content>
      </ion-view>
    </script>

    <script id="about.html" type="text/ng-template">
      <ion-view title="About">
        <ion-content class="padding">
          <h3>Create hybrid mobile apps with the web technologies you love.</h3>
          <p>Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS components for building highly interactive apps.</p>
          <p>Built with Sass and optimized for AngularJS.</p>
          <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>
          </p>
        </ion-content>
      </ion-view>
    </script>

    <script id="nav-stack.html" type="text/ng-template">
      <ion-view title="Tab Nav Stack">
        <ion-content class="padding">
          <p><img src="http://ionicframework.com/img/diagrams/tabs-nav-stack.png" style="width:100%"></p>
        </ion-content>
      </ion-view>
    </script>

    <script id="contact.html" type="text/ng-template">
        <ion-view ng-controller="MapCtrl" title="map">
          <ion-header-bar class="bar-dark bar-subheader">
              <h1 class="title">Map</h1>
          </ion-header-bar>
          <ion-content scroll="false">
              <div id="map"></div>
          </ion-content>
          <ion-footer-bar class="bar-dark">
              <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
          </ion-footer-bar>
       </ion-view>
    </script>

  </body>
      </ion-side-menu-content>

      <!-- Left menu -->
      <ion-side-menu side="left">
      </ion-side-menu>

      <!-- Right menu -->
      <ion-side-menu side="right">
      </ion-side-menu>
  </ion-side-menus>
</html>

